.about-me__row {
  position: relative;
  min-height: 100vh;
}

/* Hero styles */
.hero-container {
  display: flex;
  height: 80%;
  align-items: center;
}
.hero-terminal {
  font-weight: 400;
}

.about-me__header {
  position: relative;
  z-index: 0;
}

/* Job subtitle container */
.about-me__title {
  position: absolute;
  top: 35vh;
}

.about-me__title h2 {
  font-weight: 500;
  font-size: clamp(28px, calc(35px + 1vw), 4vw);
}

.about-me__title h3 {
  font-weight: 200;
  font-size: clamp(23px, calc(25px + 1vw), 3vw);
}

.about-me__link {
  padding-left: 0.1rem;

  color: white;
  fill: white;
  font-size: clamp(15px, 1.5rem, 2vw);
  font-weight: 200;
  text-decoration: none;
  
  --hoverTransitionTime: 0.05s;
}
.about-me__link--typing {
  position: absolute;

  color: transparent;
  fill: white;
  font-size: clamp(15px, 1.5rem, 2vw);
  font-weight: 200;
  pointer-events: none;
}
.about-me__link--typing .cursor {
  color: white;
}
.about-me__link div {
  vertical-align: middle;
  transition: color var(--hoverTransitionTime) ease-in, font-weight var(--hoverTransitionTime) ease-in;
}
.about-me__link svg {
  vertical-align: -0.15ch;
  transition: fill var(--hoverTransitionTime) ease-in;
}
.about-me__link:nth-of-type(1) svg {
  opacity: 0%;
  animation: LoadReducedMotion 0s ease-out 3.05s forwards;
}
.about-me__link:nth-of-type(2) svg {
  opacity: 0%;
  animation: LoadReducedMotion 0s ease-out 3.65s forwards;
}
.about-me__link:hover {
  font-weight: 400;
  transition: color var(--hoverTransitionTime) ease-in, font-weight var(--hoverTransitionTime) ease-in, fill var(--hoverTransitionTime) ease-in;
  color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
  fill: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
}

@media (prefers-reduced-motion: no-preference) {
  .about-me__title h3, .about-me__link {
    transition: font-size 0.4s ease-in;
  }
  .about-me__title {
    transition: padding-left 0.4s ease-in, top 0.4s ease-in;
  }
}

/* Animations */
@keyframes LoadReducedMotion {
  0% {opacity: 0%;}
  100% {opacity: 100%;}
}
