/*** ////////    HEADER    //////// ***/

.app-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.route-header {
  margin: 0;
  padding: 2.5rem 1rem;
}

.bottom-nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  bottom: 0;
}

/*** ////////    MAIN CONTENT    //////// ***/
#main-content {
  min-height: 100vh;
}


/*** ////////    SCROLLBAR    //////// ***/
html::-webkit-scrollbar {
  width: 0.9em;
}

html::-webkit-scrollbar-track {
  background-color: #0a0b0d;
}
 
html::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 1rem;
}

html::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgb(112, 112, 112);
}

/*** ////////    THEMES    //////// ***/

.app-dark {
  color: white;
}
.app-light {
  color: black;
}

.logo-dark {
  fill: white;
}
.logo-light {
  fill: black;
}

.app-header-dark {
  background-color: #00000063;
}

/*** ////////    GLOBAL STYLES    //////// ***/

.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}

.w-0 {
  width: 0;
}

.row {
  max-width: 100vw;
  margin: 0;
}

.hero-row {
  height: 100vh;

  background: -webkit-linear-gradient(black 10%, rgba(0,0,0,0.3) 100%);
  background: -moz-linear-gradient(black 10%, rgba(0,0,0,0.3) 100%);
  background: -ms-linear-gradient(black 10%, rgba(0,0,0,0.3) 100%);
  background: -o-linear-gradient(black 10%, rgba(0,0,0,0.3) 100%);
  background: linear-gradient(black 10%, rgba(0,0,0,0.3) 100%);
}

.bg-gradient-down {
  background: -webkit-linear-gradient(black 0%, rgba(0,0,0,0.3) 100%);
  background: -moz-linear-gradient(black 0%, rgba(0,0,0,0.3) 100%);
  background: -ms-linear-gradient(black 0%, rgba(0,0,0,0.3) 100%);
  background: -o-linear-gradient(black 0%, rgba(0,0,0,0.3) 100%);
  background: linear-gradient(black 0%, rgba(0,0,0,0.3) 100%);
}

.bg-gradient-up {
  background: -webkit-linear-gradient(0deg,black 10%, rgba(0,0,0,0.3) 100%);
  background: -moz-linear-gradient(0deg,black 10%, rgba(0,0,0,0.3) 100%);
  background: -ms-linear-gradient(0deg,black 10%, rgba(0,0,0,0.3) 100%);
  background: -o-linear-gradient(0deg,black 10%, rgba(0,0,0,0.3) 100%);
  background: linear-gradient(0deg,black 10%, rgba(0,0,0,0.3) 100%);
}

.padding-margins {
  padding-left: clamp(0px, 5rem, 5vw);
  padding-right: clamp(0px, 5rem, 5vw);
}