.cell-note {
  color: white;
}

.size-4 .cell-note {
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.size-9 .cell-note {
  font-size: 1rem;
  line-height: 1rem;
}
.size-16 .cell-note {
  font-size: 0.5rem;
  line-height: 0.5rem;
}


.cell-notes-container {
  display: grid;
}

.size-4 .cell-notes-container {
  grid-template-columns: auto auto;
}
.size-9 .cell-notes-container {
  grid-template-columns: auto auto auto;
}

.size-16 .cell-notes-container {
  grid-template-columns: auto auto auto auto;
}