.cursor {
  text-shadow: none;
  opacity: 0%;
}

@media (prefers-reduced-motion: no-preference) {
  .cursor {
    animation: CursorBlink infinite 2s linear;
    position: relative;
  }
}

@keyframes CursorBlink {
  0% {opacity: 100%;}
  25% {opacity: 100%;}
  50% {opacity: 0%;}
  75% {opacity: 100%;}
  100% {opacity: 100%;}
}