.footer {
  background-color: black;
  padding: 2rem 0 5rem 0;
}

.footer h4 {
  margin: 0;
  padding: 1rem 0 2rem 0;
}

.footer h5 {
  margin: 0;
  padding: 1rem 0;
}

.footer__link {
  font-weight: 200;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.footer__link span:hover {
  font-weight: 400;
  color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
}

@media (min-width: 576px) {
  .footer__link, h5 {
    text-indent: 35%;
  }
}
