.portfolio-carousel {
  width: 100%;
}

.portfolio-carousel .carousel-control-next, .portfolio-carousel .carousel-control-prev {
  -webkit-transition: background-color 1s linear;
  -moz-transition: background-color 1s linear;
  -o-transition: background-color 1s linear;
  -ms-transition: background-color 1s linear;
  transition: background-color 1s linear;
}

.portfolio-carousel .carousel-control-next:hover {
  background: rgb(0,0,0);
  background: -moz-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7203475140056023) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7203475140056023) 100%);
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7203475140056023) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
.portfolio-carousel .carousel-control-prev:hover {
  background: rgb(0,0,0);
  background: -moz-linear-gradient(90deg, rgba(0,0,0,0.7203475140056023) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.7203475140056023) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(90deg, rgba(0,0,0,0.7203475140056023) 0%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}