.portfolio-logo {
  width: 6rem;
  height: 4.2rem;
}
@media screen and (min-width: 1400px) {
  .portfolio-logo {
    width: 8rem;
    height: 4.6rem;
  }
}

.portfolio-header {
  margin: 0;
  padding-top: 2.5rem;
}

.portfolio__row--hero {
  min-height: 100vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
