.routes-popover-pos {
  
  visibility: hidden;
  pointer-events: none;
  
  font-size: clamp(19px, calc(20px + 1vw), 3vw);
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  top: -55px;
}

.autocomplete-menu {
  background-color: black;
  color: white;
}

.autocomplete-menu span {
  color: white;
  text-shadow: none;
}

.autocomplete-menu.show {
  opacity: 0%;
  animation: ShowTransition 0.4s ease-out forwards;
}

@keyframes ShowTransition {
  0% {opacity: 0%;}
  100% {opacity: 100%;}
}