/* Terminal */
.terminal {
  display: flex;
  align-items: center;
  height: 2.2rem;
  padding: 0.5rem;
  cursor: text;

  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.command-prefix {
  white-space: pre-wrap;
}

/* Input */
.terminal, .terminal-input, .terminal-text-overlay {
  font-family: 'Roboto Mono';
  font-size: calc(10px + 1vw);
  text-shadow: 0px 0px 50px black, 0px 0px 20px black, 0px 0px 10px black ;
}

.terminal-input {
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  text-shadow: none;
  caret-color: transparent;

  width: 0; /* Width is dynamically updated to match text content width */
  max-width: max-content;
  white-space: initial;

  color : transparent; /* Hide input text (text is displayed in overlay to hide text selection) */
}

.terminal-input::selection {
  color: transparent;
}
.terminal-input::-moz-selection {
  color: transparent;
}

/* Input text overlay */
/* Input has the text hidden, ".input-text-overlay" contains text matching input */

.terminal-text-overlay {
  display: contents;
  position: absolute;
  padding: 1px 0;
  background-color: transparent;
  width: 0;
  pointer-events: none;
  white-space: break-spaces;
  overflow-wrap: break-word;
}

/* Hero styling */
/* Hero mode is used to place terminal */

@media (prefers-reduced-motion: no-preference) {
  .command-line, .command-line-text, .command-line input {
    transition: all 0.4s ease-in;
  }
  .terminal-arrow {
    transition: font-size 0.4s ease-in, text-indent 0.4s ease-in;
  }
}

.command-line {
  position: fixed;
  top: calc(100% - 2.2rem);
  width: 90%;
  padding-left: clamp(0px, 4.5rem, calc(5vw - 0.5rem));
  line-height: 2.2rem;
}
.command-line-hero {
  top: 45vh !important;
  padding-left: clamp(0px, 5rem, 5vw);
}
.command-line-hero .command-line-text, .command-line-hero input {
  font-weight: 500;
  font-size: clamp(28px, calc(35px + 1vw), 3vw);
}

.terminal-arrow {
  font-size: calc(10px + 1vw);
  text-indent: clamp(0px, calc(5rem - 2ch), calc(5vw - 2ch));
  position: absolute;
}

/*** ////////    THEMES    //////// ***/

.terminal-dark, .terminal-dark .terminal-text-overlay{
  color: white;
}

.terminal-light {
  color: black;
}